// -----------------------------------------------------------------------------
// This file contains standings footer classes.
// -----------------------------------------------------------------------------

.standings {
  .penalties {
    text-shadow: 1px 1px 1px black;
    margin-top: 10px;

    .penalty {
      color: $penalty-color;
    }
  }
}